* {
  /*outline: 1px solid red;*/

  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;

  font-family: sans-serif;
}

/* # Camera operation */
#camera-operation {
  display: none;
}

/* # Education focus */
.education-focus {
  display: none;
}

/* # Video Focus */
.video-focus {
  display: none;
}

/* # Ecommerce Focus */
.ecommerce-focus {
  /* display: none; */
}
#uw-retail-services {
  /* display: none; */
}

/* # Marketing Focus */
.marketing-focus {
  /* display: none; */
}

/* # Dev Skill */
.skill-web {
  display: none;
}
.skill-dev {
  display: none;
}

.skill-office {
  /* display: none; */
}

/* # Language Skill */
#skill-language {
  display: none;
}

@page {
  margin: 0mm 10mm 0mm 5mm;
}
body {
  padding: 20px 10px;
}

header, main, nav, aside, footer {
  flex: 1 100%;
  /*align-content: center;*/
  width: 800px;
  margin: auto;
}

header {
  text-align: center;
}

nav {
  display: flex;
  justify-content: center;
  flex-flow: wrap;
  margin-bottom: -1.5em;
}

nav > address {
  display: flex;
  flex-direction: column;
  justify-content: center;

  font-style: normal;

  width: 200px;
  height: 30px;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto;
  grid-column-gap: 50px;
  grid-row-gap: 5px;
}

h1 {
  font-weight: 300;
  margin: .4em;
}

h2 {
  text-align: center;
  font-weight:300;
  margin-top: 2em;
  margin-bottom: -1em;
}

#skills > h2, #interests > h2 {
  font-size: 1.2em;
  margin-bottom: -.5em;
}

#skills {
  /* margin-top: 2.5em; */
}

h3 {
  margin-top: 1.2em;
  margin-bottom: -0.8em;
}

h4 {
  margin-top: .9em;
  margin-bottom: -1em;
}

h5 {
  font-weight: lighter;
  margin-top: .5em;
  margin-bottom: .5em;
}

.date {
  float: right;
  /* font-weight: 400; */
  font-size: 11pt;
}

.degree {
  /* font-weight: lighter; */
  font-size: 11pt;
}

/* Hide graduation date since it is no longer relevant. */
#graduation {
  display: none;
}

/* #education{
  text-align: center;
} */

.subtitle {
  font-size: .9em;
  font-weight: 400;
}

#skills > p, #interests > p {
  margin-top: 1em;
  text-align: center;
}

.skill-high {
  font-weight: 800;
  color: #000;
}
.skill-medium {
  font-weight: 300;
  color: #333;
}
.skill-low {
  font-weight: 100;
  color: #888;
}

ul {
  margin-bottom: -.4em;
  /* font-size: .9em; */
  /* # Custom bullets # */
  list-style: none;
  list-style-position: outside;
  margin-left: 0;
  padding-left: 3em;
  text-indent: -2em;
}

/* Text bullet */
/* li {
  margin-bottom: .2em;
  text-indent: -1em;
} */

/* Emoji bullet */
li {
  /* margin-bottom: 0em;
  text-indent: 1em; */
  margin-bottom: -.2em;
}

li:before {
  content: "+";
  padding-right: 1ch;
}

#lifetime-fitwear li:before {
  content: "💪";
}
#eloquent-speaking li:before {
  content: "🎤";
}
#kapscomoto li:before {
  content: "🏍"
}
#mike-barber li:before {
  content: "✂️"
}
#uw-retail-services li:before {
  content: "👕";
}
#vbs li:before {
  content: "⛺️"
}
#imprint li:before {
  content: "🗞";
}
#bargains-group li:before {
  content: "📦";
}
#mastered li:before {
  content: "📷";
}
#waterloo li:before {
  content: "🧠";
}

/* .link {
  margin-top: .2em;
  margin-left: 1.8em;
} */

#client-portfolio {
  margin-bottom: -.4em;
  font-size: 0.9em;
}

a:link, a:visited {
  color: #26A;
  text-decoration: none;
}

a:hover {
  color: #4AD;
}

hr {
  width: 600px;
  margin-bottom: -1.5em;

  /*Style from CSS-tricks https://css-tricks.com/simple-styles-for-horizontal-rules/*/
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

/* Fix hr spacing */
#experience + hr {
  margin-top: 1.6em;
  margin-bottom: -2em;
}
